<p>status: <%= @status %></p>
<p>created_at <%= @created_at %></p>
<%= form_tag status_path, method: :post do %>
  <%= submit_tag "update", data: { disable_with: "updating..." }, class: 'btn primary' %>
<% end %>
