<h1>サンプル一覧</h1>
<h2>非同意処理の活用</h2>
<ul>
  <li><a href="/async">非同期処理を行うサンプル</a></li>
  <li><a href="/sidekiq">sidekiq web UI</a></li>
</ul>
<h2>テーブルアクセスに対する非効率(N+1)</h2>
<ul>
  <li><a href="/n_plus_one?n_plus_one=1">N+1が発生する例</a></li>
  <li><a href="/n_plus_one">N+1が発生しない例</a></li>
</ul>
<h2>DBインデックスの大切さ</h2>
<ul>
  <li><a href="/search_user_of_index">DBのIndexを利用する/しない例</a></li>
</ul>
<h2>DB tableに対するロック処理とはどのように動くのか</h2>
<ul>
  <li><a href="/locking_in_transaction">悲観的なレコードロックの例</a></li>
</ul>
