<!DOCTYPE html>
<html>
  <head>
    <title>アプリケーションパフォーマンスTips サンプルアプリケーション</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@1.1.0/dist/lit.css" integrity="symVI7S28tbSg/DJM1TWbbUydyV04OVyOZGK+fq2WiMdvWhxev/aEGN+mLzCxG+W" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag('application') %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes"></head>
  <body style="padding: 10px 20px 10px 20px;">
    <%= yield %>
  </body>
</html>
